@use "@/scss/variables" as var;

.product-item.MuiCard-root {
    overflow: hidden;
    display: flex; // 👈 AGREGAR
    flex-direction: column; // 👈 AGREGAR
    height: 100%;
}

.product-item {
    overflow: hidden;
    background: transparent;
    border: solid 2px var.$color-navbar;

    &__image {
        object-fit: cover;
        height: 200px;
        width: 100%;

        &--skeleton {
            height: auto;
            width: 100%;
            aspect-ratio: 16/9;
            border-radius: 0 !important;
            margin-bottom: var.$spacing-sm;
        }
    }

    &__name {
        color: var.$color-neutro-300 ;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var.$spacing-sm;
        padding: 0 var.$spacing-md;
        background-color: var.$color-header;
    }

    &__title {
        font-size: var.$font-size-lg;
        font-weight: var.$font-weight-bold;

        &--skeleton {
            height: 35px;
            width: 65%;
        }
    }

    &__description {
        font-size: var.$font-size-sm;
        font-weight: var.$font-weight-regular;
        align-items: center;
        color: var.$color-neutro-300;
        flex-grow: 1;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        text-overflow: ellipsis;
        overflow: hidden;

        &--skeleton {
            height: 42px;
            width: 100%;
        }
    }

    &__price {
        font-size: var.$font-size-sm;
        font-weight: var.$font-weight-bold;
        align-self: flex-end;
        color: var.$color-neutro-300;
        margin: 12px;

        &--skeleton {
            height: 14px;
            width: 50px;
            align-self: flex-end;
        }
    }

    &__actions {
        display: flex;
        justify-content: center;
        gap: var.$spacing-md;
        padding: var.$spacing-md;
        background-color: var.$color-navbar;
        margin-top: auto;

        &--skeleton {
            width: 50px;
            height: 24px;
            line-height: 1.2;
        }
    }

    &__add {
        svg {
            font-size: var.$font-size-lg !important;
        }
    }

    &__remove {
        svg {
            font-size: var.$font-size-lg !important;
        }
    }
}