@use "@/scss/variables" as var;

.product-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: var.$color-header;


    gap: var.$spacing-md;
    width: 100%;
    padding: 20px;

    @media (max-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
        grid-template-columns: 1fr;
    }

    .no-result {
        color: var.$color-neutro-300;
        width: 100%;
        text-align: center;
        position: relative;
        font-size: var.$font-size-lg;
        font-weight: var.$font-weight-bold;
        margin-top: var.$spacing-xxl;

    }
}