@use "@/scss/variables" as var;

.institution {
    width: 400px;
    gap: 1.3rem;
    display: flex;
    flex-direction: column;
    position: relative;


    &__list {
        display: flex;
        flex-direction: column;
        gap: var.$spacing-md;
        padding: var.$spacing-md;
    }
}